<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>title</title>
    <link href="images/normalize.css" rel="stylesheet" type="text/css" />
    <link href="images/styles_dops.css" rel="stylesheet" type="text/css" />

    <style>
        #app {
            width: 900px;
            margin: 60px auto;
        }
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid #000000;
            display: inline-block;
            margin: 40px;
        }
        .red {
            background: red;
        }
        .blue {
            background: blue;
        }
        .green {
            background: green;
        }
    </style>

</head>

<body>

<div id="app">
    <input type="text" v-on:input="cheangeName">
    <h1>Hello {{ name }}</h1>
    <h1>Sum (10+60): {{ 10 + 60 }}</h1>
    <h1>NUmber: {{ number }}</h1>
    <h1>Method: {{ sayHello() }}</h1>
    <h1>If statement: {{ isOk ? 'I am OK' : 'I am not OK!' }}</h1>
    <h2><a v-bind:href="url">{{ url }}</a></h2>
    <h2 v-html="link"></h2>

    <hr>   

    <h2>Счетчик 1 = {{ counter }}</h2>
    <button v-on:click="rizeCounter">Увеличить на 1</button>
    <hr>
    <h2 v-on:mouseover="onHover">Счетчик 2 = {{ counter2 }}</h2>
    <button v-on:click="counter2++">Увеличить на 1</button>

    <hr>

    <h2>{{ title }} : {{ counter3 }}</h2>
    <button v-on:click="sayHello2(5, 'Изменено на 5', $event)">Увеличить на 5</button>
    <button v-on:click="sayHello2(10, 'Изменено на 10', $event)">Увеличить на 10</button>

    <hr>
    <h2>
        <a href="http://google.com" target="_blank" v-on:click.prevent="">Google.com</a>
    </h2>
    <h2 v-on:mousemove="HandleMouseMove">
        x: {{ x }} / y: {{ y }}
        <span v-on:mousemove.stop="">Не изменять</span>
    </h2>

    <hr>

    <input type="text" v-on:keyup.enter.space="alertValue">

    <hr>
    <a :href="url">Google</a>
    <br>
    <h2>Счетчик new: {{ counter4 }}</h2>
    <button @click="counter4++">Увеличить на 1</button>


    <hr>
    <!--<input type="text" @input="inputValue = $event.target.value" :value="inputValue">-->
    <input type="text" v-model.lazy="inputValue">
    <h2>{{ inputValue }}</h2>


    <hr>

    <!--<div-->
            <!--class="circle"-->
            <!--@click="isActive = !isActive"-->
            <!--:class="{red: isActive, green: !isActive}"-->
    <!--&gt;</div>-->

    <div
            class="circle"
            @click="isActive = !isActive"
            :class="getCssClasses"
    ></div>
    
    <div
            class="circle"
            :class="[color, {red: isActive}]"
    ></div>

    <input type="text" v-model="color">

    <hr>

    <!--<div class="circle" :style="{background: color, height: height + 'px'}"></div>-->
    <div class="circle" :style="circleClasses"></div>
    <div class="circle" :style="[circleClasses, {width: height + 'px'}]"></div>
    <input type="text" v-model="color">
    <input type="text" v-model="height">

    <hr>


    <h2 v-if="isVisible">I am visible!</h2>
    <!--<h2 v-if="!isVisible">No i am not!</h2>-->
    <h2 v-else>No i am not!</h2>
    <button @click="isVisible = !isVisible">Toggle</button>

    <hr>
    <h2 v-if="type === 'a'">A</h2>
    <h2 v-else-if="type === 'b'">B</h2>
    <h2 v-else-if="type === 'c'">C</h2>
    <h2 v-else>not math</h2>
    <input type="text" v-model="type">

    <hr>
    <template v-if="isVisible2">
        <h2>I am title!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, vitae!
        </p>
    </template>
    <template v-else>
        <h2 style="color: red;">I am title!</h2>
        <p style="color: blue;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, vitae!
        </p>
    </template>

    <hr>

    <h1 v-show="isVisible3">true</h1>
    <h2 v-show="!isVisible3">false</h2>

    <button @click="isVisible3 = !isVisible3">Click</button>


    <hr>

    <ul>
        <li v-for="(person, index) in people">{{ index + 1 }} {{ person }}</li>
    </ul>

    <ul>
        <li v-for="(person, index) in people2">{{ index + 1 }} {{ person.name }} - <b>{{ person.age }}</b></li>
    </ul>

    <ol>
        <li v-for="num of 4">{{ num }}</li>
    </ol>

    <ul>
        <li v-for="(value, key, index) of preson"><em>{{ index }}</em> <b> {{ key }} </b> {{ value }} </li>
    </ul>

    <hr>

    <h1>Counter {{ counter8 }} / {{ counter9 }}</h1>
    <h2>Result: {{ result() }}</h2>
    <h2>Computed result: {{ computedResult }}</h2>

    <button @click="add">Add</button>
    <button @click="sub">Sub</button>
    <button @click="counter9++">Add counter9</button>










</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Vue!',
            number: 100,
            isOk: true,
            url: 'http://google.com',
            link: '<a href="http://google.com">Google</a>>',
            counter: 0,
            counter2: 0,
            title: 'Счетчик',
            counter3: 0,
            counter4: 0,
            inputValue: 'Initial value',
            x: 0,
            y: 0,
            isActive: false,
            color: 'blue',
            height: 100,
            isVisible: true,
            type: 'a',
            isVisible2: true,
            isVisible3: true,
            people: [
                'Vlad',
                'Max',
                'Elena',
                'Volodya'
            ],
            people2: [
                {name: 'Evgenoy', age: 20},
                {name: 'Irina', age: 24},
                {name: 'Artur', age: 30}
            ],
            preson: {
                name: 'Max',
                age: 30,
                job: 'Frontend'
            },
            counter8: 0,
            counter9: 0
        },
        methods: {
            cheangeName: function(event){
                this.name = event.target.value
            },
            sayHello: function () {
                return 'I am function'
            },
            rizeCounter: function () {
                this.counter++
            },
            onHover: function (event) {
                event.target.style.color='green';
            },
            sayHello2: function (num, str, event) {
                this.counter3 += num;
                this.title = str;
                if (num === 5) {
                    event.target.style.color='blue';
                } else if (num === 10) {
                    event.target.style.color='red';
                }
            },
            HandleMouseMove: function (event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            alertValue: function (event) {
                alert(event.target.value);
            },
            add: function () {
                this.counter8++
                //this.condition = this.counter8 > 3 ? 'More than 3' : 'Less than 3'
            },
            sub: function () {
                this.counter8--
                //this.condition = this.counter8 > 3 ? 'More than 3' : 'Less than 3'
            },
            result: function () {
                console.log('Result was called');
                return this.counter8 > 3 ? 'More than 3' : 'Less than 3';
            }
        },computed: {
            getCssClasses: function () {
                return {
                    'red': this.isActive,
                    'green': !this.isActive
                }
            },
            circleClasses: function () {
                return {
                    'background': this.color,
                    'height': this.height + 'px'
                }
            },
            computedResult: function () {
                console.log('Computed result was called')
                return this.counter8 > 3 ? 'More than 3' : 'Less than 3';
            }
        },
        watch: {
            counter8: function (val) {
                console.log('From watch object', val);
            }
        }
    });
</script>

</body>
</html>